html{
	min-height: 100vh;
/*	background: linear-gradient(180deg, rgba(255,212,53,1), rgba(209,84,0,1));*/
	background: linear-gradient(180deg, rgba(241,217,193,1) 0%, rgba(175,131,88,1) 100%);
}

h1{
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Dancing Script', cursive;
	font-size: 3vw;

	color: #ffcfa0;

	/* Usstanowienie gradientu na tekście */
    background: -webkit-linear-gradient(-90deg, rgba(255,207,160,1) 30%, rgba(109,67,26,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


	position: relative;
	/* Zagnieżdżenie animacji pojawiania się tekstu */
	animation: intro 3s forwards;
	opacity: 0

}

.sign{
	background-image: url("./recipes/img_recipes/wooden-sign-board-for-sale-png.png");
/*	width: 400px; 
	height: 330px;*/
	width: 19vw; 
	height: 19vw;
	background-size: cover;
	background-position: center;
	position: relative;
	display: table-cell;
    align-items: center;
    display: flex;
    justify-content: center;
}

.naglowek{
	position: relative;
	width: auto;
	height: auto;
	
	vertical-align: middle;
    align-items: center;
    display: flex;
    justify-content: center;
}

.zasobnik{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.kafel {
	width: 48%;
	height: 150px;

	background-color: #f2f2f2;

	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: bold;
}

/* Animacja pojawiania się tekstu */
@keyframes intro {
    100% {bottom: 0};
    from {opacity: 0} to {opacity: 1};
}