html{
	min-height: 100vh;
	background: linear-gradient(180deg, rgba(255,212,53,1), rgba(209,84,0,1));
}

h1{
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Dancing Script', cursive;
	font-size: 4vw;

	text-align: center;
	animation: intro 3s forwards;
	opacity: 0
}


@keyframes intro {
    100% {bottom: 0};
    from {opacity: 0} to {opacity: 1};
}